<ion-view title="Add Event">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content class="has-header">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Name</span>
                <input type="text" ng-model="event.name">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Start Date</span>
                <input type="date" ng-model="event.date_start">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">End Date</span>
                <input type="date" ng-model="event.date_end">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Variation (%)</span>
                <input type="number" ng-model="event.variation">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Category</span>
                <select ng-model="event.category">
                    <option value="fds">Weekend</option>
                    <option value="occasional_event">Occasional Event</option>
                    <option value="birthday">Birthday</option>
                    <option value="trip">Trip</option>
                    <option value="party">Party</option>
                </select>
            </label>
        </div>

        <button class="button button-block button-stable" ng-click="add_one_more_event()">
            Add one more event
        </button>
        <button class="button button-block button-positive" ng-click="finish()">
            Finish
        </button>
    </ion-content>
</ion-view>